@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Eurostile";
  font-style: normal;
  font-weight: normal;
  src: local("Eurostile"), url("./fonts/eurostile.woff") format("woff");
}
.header-text {
  font-family: "Eurostile", sans-serif;
}

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
    --hover-color: #19f5d7;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  max-width: 1440px;
  padding: 0 20px;
  margin: auto;
}

@media (max-width: 1024px) {
  .nav-item {
    font-size: 30px !important;
  }
  .aws-btn--medium {
    width: auto !important;
  }
}
.nav-item {
  font-size: large;
  transition: all ease 0.3s;
}
.nav-item:hover {
  color: var(--hover-color);
}
.social-media {
  position: fixed;
  bottom: 20px;
}
.social-media a {
  padding: 10px;
  border-radius: 50%;
  border: 1px solid #383632;
  font-size: 20px;
  transition: all ease 0.2s;
}
.social-media a:hover {
  transform: scale(1.2);
  color: var(--hover-color);
  background: rgb(110, 110, 110);
  rotate: 360deg;
}

/* Awesome Button Custom Css */
.aws-btn__content {
  padding: 0 !important;
}

/* SLick slider Start */

.slick-next::before {
  content: "➔" !important;
}
.slick-prev::before {
  content: "➔" !important;
}

@media (max-width: 762px) {
  .slick-prev:before,
  .slick-next::before {
    content: "" !important;
  }
  .slick-dots li button::before {
    color: aqua !important;
    font-size: 10px !important;
  }
  .slick-dots .slick-active button::before {
    font-size: 15px !important;
  }
  .slick-dots li {
    margin: 0 !important;
  }
}
.slick-prev {
  rotate: 180deg;
  margin-top: 3px;
  transform: translateX(-30px) !important;
  left: 0 !important;
  z-index: 1;
}
.slick-next {
  transform: translateX(-50px) !important;
}
